// Section Top
.top {
  &__inner {
    padding-bottom: 70px;
    position: relative;
    &::before {
      content: "";
      background-image: url(../../images/slider-bg.jpg);
      position: absolute;
      width: 100%;
      height: 722px;
      top: 0;
      z-index: -1;
    }
  }
  &__slider-img {
    margin-left: -14%;
    max-width: 703px;
    height: 815px;
    object-fit: cover;
  }
  &__slider-item {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
  &__slider-info {
    max-width: 645px;
    margin-left: 25px;
  }

  &__slider-title {
    color: $title;
    font-size: 110px;
    line-height: 135px;
    padding-bottom: 26px;
    margin-bottom: 26px;
    @extend %title-font;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 185px;
      height: 1px;
      background: #6d7278;
    }
  }
  &__slider-text {
    max-width: 585px;
  }
}

// Section Collection
.new-collection {
  text-align: center;
  padding: 45px 0 35px;
  &__title {
    color: $title;
    font-size: 36px;
    line-height: 51px;
    padding-bottom: 25px;
    margin-bottom: 25px;
    @extend%title-font;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 250px;
      height: 1px;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      background-color: #979797;
    }
  }
  &__text {
    margin: 0 auto 30px;
    max-width: 730px;
  }
}
.collection {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 30px;
  padding-bottom: 70px;
  &__item {
    position: relative;

    &:hover {
      .collection__info {
        opacity: 1;
      }
    }
  }
  &__images {
    min-height: 350px;
    object-fit: cover;
  }
  &__info {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(#fff, 0.7);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.8s;
  }
  &__info-title {
    font-size: 20px;
    line-height: 25px;
    color: $title;
    padding-bottom: 19px;
    margin-bottom: 19px;
    position: relative;
    @extend%title-font;
    &::after {
      content: "";
      bottom: 0;
      position: absolute;
      height: 1px;
      background-color: #6d7278;
      width: 80%;
      margin: 0 auto;
      left: 0;
      right: 0;
    }
  }
  &__info-text {
    font-weight: 600;
    font-size: 14px;
    color: #707070;
  }
}

// Decor
.decor {
  padding: 170px 0px 155px;
  background-image: url(../../images/decor-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  &__title {
    max-width: 730px;
    color: $title;
    font-size: 60px;
    line-height: 80px;
    padding-bottom: 22px;
    margin-bottom: 22px;
    position: relative;
    @extend%title-font;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      width: 200px;
      height: 1px;
      bottom: 0;
      background-color: #6d7278;
    }
  }
  &__text {
    min-width: 540px;
  }
}

// Works Path Section

.works-path {
  padding: 80px 0 30px;
  &__title {
    @extend%title-font;
    text-align: center;
    color: $title;
    font-size: 36px;
    line-height: 51px;
  }
  &__items-box {
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid rgba($title, 0.7);
    position: relative;
    &::before {
      content: "";
      position: absolute;
      bottom: -5px;
      background-color: $title;
      left: 0;
      height: 10px;
      width: 10px;
      border-radius: 50%;
    }
  }
  &__item {
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    height: 100%;
  }
  &__item--production {
    margin-left: 317px;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 20px;
      width: 2px;
      background-color: rgba($title, 0.7);
    }
  }
  &__item--consultation,
  &__item--production {
    padding-bottom: 38px;
  }
  &__item--measurements {
    margin-left: 305px;
    padding-top: 38px;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;
      width: 2px;
      background-color: rgba($title, 0.7);
    }
  }
  &__item-title {
    margin-left: 13px;
    color: $title;
    @extend%title-font;
  }
  &__item-text {
    margin-top: 13px;
  }
}

// Gallery Block

.gallery {
  padding: 80px 0 90px;
  &__buttons {
    text-align: center;
    margin-bottom: 40px;
  }
  &__btn {
    margin: 0 13px;
    background-color: transparent;
    border: 1px solid #454647;
    border-radius: 20px;
    padding: 6px 16px;
    color: #8f8d8d;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
  }
  .mixitup-control-active {
    background-color: #ffef35;
    border: 1px solid #ffef35;
    color: $title;
    opacity: none;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px 35px;
  }
  &__item:first-child {
    grid-column: span 2;
    grid-row: span 2;
  }
  &__item img {
    object-fit: cover;
    width: 100%;
    max-height: 1150px;
    height: 100%;
  }
  &.gallery-page {
    .gallery__item img {
      max-height: 1163px;
    }
    .gallery__item:nth-child(8) {
      grid-column: span 2;
      grid-row: span 2;
    }
  }
}

// Blog-Box

.blog-box {
  padding-bottom: 100px;
  &__title {
    color: $title;
    @extend%title-font;
    font-size: 36px;
    line-height: 51px;
    margin: 0 auto 30px;
    text-align: center;
    max-width: 430px;
  }
  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }
  &__img-link {
    margin-bottom: 19px;
    display: inline-block;
  }
  &__links {
    margin-bottom: 9px;
    font-size: 14px;
    font-weight: 600;
    color: #707070;
  }
  &__date,
  &__author,
  &__theme {
    color: inherit;
  }
  &__item-title {
    color: $title;
    font-size: 24px;
    line-height: 38px;
    @extend%title-font;
  }
}
